.carousel-caption{
    text-align: left;
}

#Minor-News{
    width: 100%;
    padding-top: 35px;
    padding-left: 60px;
    padding-bottom: 40px;
    padding-right: 60px;
    bottom: 0;
    left: 0;
    right: 0;
}