#carouselExampleIndicators .carousel-inner .item div {
    text-align: left;
    color: white;
    top: 1%;
}

#footer {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 40px;
    background-color: black;
    bottom: 0;
    left: 0;
    right: 0;
}

.container-fluid::before{
    display: table;
    content: " ";
}

#footer p{
    text-align: center;
}

.container-fluid{
    padding-left: 18px;
    padding-right: 18px;
    margin-left: auto;
    margin-right: auto;
}

.text-white p{
    font-size: 16px;
    color: white;
}


#footer h1{
    color: #fff;
    text-align: center;
}

.contatinho{
    margin-top: 0px;
    font-size: 18px;
    font-weight: bold;
}

.img-responsive {
    max-width: 100%;
}